header {
    background-image: url(../images/home-image-1.jpg);
    background-size: cover;
    height: 100vh;
    // min-width: 50vh;
    position: relative;
    z-index: 1;
    h1 {
        // width: 50%;
        text-align: center;
    }
    .header-image-container {
        max-width: 100%;
        height: auto;
        position: absolute;
        bottom: -30px;
        right: 0;
        z-index: -1;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.home-main-heading {
    @include flexBoxCenter;
    height: 100vh;
}


//blog page
.blog-header {
    background-image: url(../images/blog-header-1.jpg);
    height: 45rem;
}

.sub-page {
    // height: 50vh; 
    height: 35rem;
    h1 {
        font-size: 6rem;
        text-align: start;
        position: relative;
        bottom: -25rem;
        width: 30%;
    }
}

//contact page
.contact-header {
    background-image: url(../images/contact-header-1.jpg);
    height: 45rem;
}