header {
    background-image: url(../images/home-image-1.jpg);
    background-size: cover;
    // height: 100vh;
    height: 80rem;
    position: relative;
    z-index: 1;
    h1 {
        text-align: center;
    }
    .header-image-container {
        max-width: 100%;
        height: auto;
        position: absolute;
        bottom: -30px;
        right: 0;
        z-index: -1;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.home-main-heading {
    @include flexBoxCenter;
    height: 80rem;
}


//blog page
.blog-header {
    background-image: url(../images/blog-header-1.jpg);
    height: 45rem;
}

.sub-page {
    height: 35rem;
    h1 {
        font-size: 6rem;
        text-align: start;
        position: relative;
        bottom: -20rem;
        width: 20%;
    }
}

//contact page
.contact-header {
    background-image: url(../images/contact-header-1.jpg);
    height: 45rem;
}


@media (max-width: 940px) {
    .header-image-container {
        display: none;
    }
    .home-main-heading h1{
        font-size: 10rem;
    }

    .sub-page {
        h1 {
            width: 40%;
            font-size: 6rem;
        }
    }
}

@media (max-width: 480px) {
    .home-main-heading h1{
        font-size: 6rem;
    }

}