// button
main a {
    padding: 10px 20px;
    background-color: $green;
}

// about section
.about {
    background-color: $off-white;
    height: 100vh;
    .about-wrapper {
        height: 100%;
        @include flexBoxCenter();
        flex-direction: column;
        text-align: center;
    }
}

//workshop-and-discover section
.workshop-and-discover {
    // height: 100vh;
    // flex-wrap: wrap;
    @include flexBoxCenter();
    justify-content: space-between;
    .discover {
        width: 45%;
        // margin-right: 5rem;
        text-align: right;
        .discover-text-container {
            margin-left: 20%;
            padding: 2rem 0 5rem;
            // height: 50vh;
            // width: 70%;
        }
    }
    .workshop {
        width: 45%;
        // margin-left: 5rem;
        text-align: left;
        .workshop-text-container {
            margin-right: 20%;
            // height: 50vh;
            // width: 70%;
        }
    }
}

.workshop-and-discover img {
    width: 100%;
    // height: 50vh;
    display: block;  
    position: relative;
}

.image-container-left {
    width: calc(100% - 2rem);
    // height: 50vh;
    img {
        @include boxShadowRight;
        bottom: 30px;
    }
}

.image-container-right {
    width: calc(100% - 2rem);
    height: 50vh;
    margin-left: 2rem;
    img {
        @include boxShadowLeft;
        top: 30px;
    }
}


// more information and founder section

.more-info-and-founder {
    background-color: $off-white;
    .more-info-wrapper {
        @include flexBoxCenter();
        flex-wrap: wrap;
    }
}

.more-info-wrapper > div {
    width: 50%;
    padding: 8rem;
}

.icon-header {
    display: flex;
    position: relative;
    &::before {
        content: "";
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: $sunny-yellow;
        position: absolute;
        top: 1.5rem;
        left: -6.5rem;
    }
    i {
        position: absolute;
        left: -5rem;
        bottom: 1rem;
    }
}

// banner
.banner-container img{
    width: 100%;
    height: auto;
}

//founder info section
.founder-wrapper {
    @include flexBoxCenter();
    .founder-image-container {
        flex-basis: 30%;
        margin: 1rem;  
        img {
            max-width: 100%;
            height: auto;
            @include boxShadowRight;
        }
    }
    .founder-info {
        flex-basis: 70%;
        padding: 5rem;
    }
}

//gallery section
.gallery-wrapper {
    // min-height: 100vh;
    @include flexBoxCenter();
    flex-wrap: wrap;
    div:nth-child(2) {
        margin: 2rem;
    }
    
}


@media (max-width: 768px) {
    .workshop-and-discover  {
        flex-direction: column;
    }

    .more-info-wrapper > div {
    width: 100%;
    }
}

@media (max-width: 480px) {
    .gallery-image-container {
        // width: 300px;
        height: 300px;
        img {
            max-height: 100%;
            width: auto;
        }
    }
}