@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/typographic";
@import "partials/nav";
@import "partials/header";
@import "partials/sections";
@import "partials/blogSections";
@import "partials/contactSections";
@import "partials/footer";


body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
    // padding: 1rem;
}

a {
    text-decoration: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    html {
        font-size: 50%;
        .wrapper {
        max-width: 700px;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    html {
        font-size: 40%;
        .wrapper {
        max-width: 500px;
        }
    }
    
    //burger nav bar 


}

/* Landscape phones and down */
@media (max-width: 480px) {

    html {
        font-size: 30%;
        .wrapper {
        max-width: 350px;
        }
    }
    
}

