html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

nav, p, a, .side-text-container li {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 16.6rem;
  font-weight: normal;
  color: #F8E71C;
  margin: 0;
}

h2 {
  font-size: 5.63rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
  text-align: center;
}

h3 {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
  margin-bottom: 0;
}

h4 {
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.more-info i {
  font-size: 3.2rem;
}

.logo {
  color: #fff;
}

a, button {
  color: #fff;
}

button, label, ::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3.2rem;
}

button, label, :-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3.2rem;
}

button, label, ::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3.2rem;
}

button, label, ::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3.2rem;
}

button {
  background-color: #0E902D;
}

.blog-main h2 {
  font-size: 4.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: start;
}

.blog-main h3 {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.blog-main h4 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #074115;
  font-style: italic;
}

.blog-main h5 {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #074115;
}

.blog-main h1, .blog-main h2, .blog-main h3, .blog-main h4, .blog-main h5, .blog-main p {
  padding: 0 2rem;
}

article span {
  font-weight: bold;
}

.side-text-container a {
  color: #074115;
  background-color: #fff;
  font-style: italic;
  font-weight: bold;
}

.contact-main h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: start;
}

.social-media-icon a {
  background-color: #F0EFED;
}

.social-media-icon i {
  color: #0E902D;
  margin-left: -2rem;
}

.header-wrapper nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.header-wrapper nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  padding: 0;
}

.header-wrapper nav .nav-bar .logo {
  font-size: 3rem;
}

.header-wrapper nav .nav-bar a {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header-wrapper nav .nav-bar li {
  display: inline-block;
}

.nav-wrapper {
  background-color: #000;
}

.sub-page-nav {
  width: 100%;
  height: 5.4rem;
}

.sub-page-nav ul {
  padding: 1rem 0;
  display: inline;
  margin: 0;
  width: 50%;
}

.home-nav ul li:nth-child(1) a {
  color: #F8E71C;
}

.blog-nav ul li:nth-child(3) a {
  color: #F8E71C;
}

.contact-nav ul li:nth-child(4) a {
  color: #F8E71C;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  color: #F8E71C;
}

.check-button {
  font-size: 4rem;
  color: #fff;
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .check-button {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 20vh;
    left: 100%;
    top: 4%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-self: flex-start;
    background: #074115;
  }
  #check:checked ~ div ul {
    left: 90%;
  }
}

header {
  background-image: url(../images/home-image-1.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

header h1 {
  text-align: center;
}

header .header-image-container {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: -1;
}

header .header-image-container img {
  width: 100%;
  height: auto;
}

.home-main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.blog-header {
  background-image: url(../images/blog-header-1.jpg);
  height: 45rem;
}

.sub-page {
  height: 35rem;
}

.sub-page h1 {
  font-size: 6rem;
  text-align: start;
  position: relative;
  bottom: -25rem;
  width: 20%;
}

.contact-header {
  background-image: url(../images/contact-header-1.jpg);
  height: 45rem;
}

@media (max-width: 768px) {
  .sub-page h1 {
    width: 30%;
  }
}

main a {
  padding: 10px 20px;
  background-color: #0E902D;
}

.about {
  background-color: #F0EFED;
  height: 100vh;
}

.about .about-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.workshop-and-discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workshop-and-discover .discover {
  width: 45%;
  text-align: right;
}

.workshop-and-discover .discover .discover-text-container {
  margin-left: 20%;
  padding: 2rem 0 5rem;
}

.workshop-and-discover .workshop {
  width: 45%;
  text-align: left;
}

.workshop-and-discover .workshop .workshop-text-container {
  margin-right: 20%;
}

.workshop-and-discover img {
  width: 100%;
  display: block;
  position: relative;
}

.image-container-left {
  width: calc(100% - 2rem);
}

.image-container-left img {
  -webkit-box-shadow: 2rem 2rem 1px #F8E71C;
          box-shadow: 2rem 2rem 1px #F8E71C;
  bottom: 30px;
}

.image-container-right {
  width: calc(100% - 2rem);
  height: 50vh;
  margin-left: 2rem;
}

.image-container-right img {
  -webkit-box-shadow: -2rem 2rem 1px #F8E71C;
          box-shadow: -2rem 2rem 1px #F8E71C;
  top: 30px;
}

.more-info-and-founder {
  background-color: #F0EFED;
}

.more-info-and-founder .more-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more-info-wrapper > div {
  width: 50%;
  padding: 8rem;
}

.icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.icon-header::before {
  content: "";
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #F8E71C;
  position: absolute;
  top: 1.5rem;
  left: -6.5rem;
}

.icon-header i {
  position: absolute;
  left: -5rem;
  bottom: 1rem;
}

.banner-container img {
  width: 100%;
  height: auto;
}

.founder-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founder-wrapper .founder-image-container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 1rem;
}

.founder-wrapper .founder-image-container img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 2rem 2rem 1px #F8E71C;
          box-shadow: 2rem 2rem 1px #F8E71C;
}

.founder-wrapper .founder-info {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 5rem;
}

.gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-wrapper div:nth-child(2) {
  margin: 2rem;
}

@media (max-width: 768px) {
  .workshop-and-discover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-info-wrapper > div {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .gallery-image-container {
    height: 300px;
  }
  .gallery-image-container img {
    max-height: 100%;
    width: auto;
  }
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F0EFED;
}

.blog-main aside {
  width: 45%;
  margin-top: 5rem;
  margin-right: 4rem;
}

.aside-content {
  background-color: #fff;
  height: 40%;
  width: 80%;
  margin-left: 16%;
}

.aside-content img {
  margin-left: -20%;
  width: 100%;
  display: block;
}

.aside-content a {
  padding: 0;
}

.side-text2 ul li {
  position: relative;
  padding-left: 4rem;
}

.side-text2 ul li::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #074115;
  position: absolute;
  left: 2rem;
  top: 1.3rem;
}

.article-image-container img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: -2rem 2rem 1px #F8E71C;
          box-shadow: -2rem 2rem 1px #F8E71C;
  position: relative;
  top: -15rem;
  z-index: 1;
}

article {
  border-left: 1rem solid #F8E71C;
  border-bottom: 1rem solid #F8E71C;
  margin-right: 10%;
  position: relative;
  top: calc(-15rem + 2rem);
  padding: 2rem;
}

article h2 {
  margin-top: 0;
}

.comments {
  margin-right: 10%;
}

.comments h3 {
  position: relative;
  top: -10vh;
}

.comments h5 {
  margin: 0;
}

.comment1, .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment1 .comment-container, .comment2 .comment-container {
  padding-left: 2rem;
}

.comment1 {
  margin-bottom: 5rem;
}

.blog-form {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
}

.name-email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-email div {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.name-email div label {
  padding: 2rem;
}

.name-email div input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #0E902D;
  background-color: #F0EFED;
}

textarea {
  width: 100%;
  background-color: #F0EFED;
  border: 2px solid #0E902D;
  resize: none;
  margin: 2rem;
}

button {
  width: 100%;
}

@media (max-width: 940px) {
  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-main aside {
    width: 100%;
    margin: 0;
    padding-bottom: 5rem;
  }
  .blog-main aside img {
    max-width: 70rem;
    position: relative;
    top: -10rem;
    left: 33rem;
    z-index: 1;
  }
  .blog-main aside .side-text-container {
    position: relative;
    top: -10rem;
  }
  .blog-main article {
    margin-left: 16%;
    top: 0;
  }
  .blog-main .comments {
    margin-left: 16%;
  }
  .blog-main .comments h3 {
    position: static;
    margin: 3rem;
  }
  .blog-main .blog-form {
    margin-left: 16%;
  }
  .article-image-container img {
    max-width: 70rem;
    top: 0;
    margin-left: calc(16% + 2rem);
  }
}

@media (max-width: 768px) {
  .name-email {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name-email div {
    width: 100%;
  }
  .name-email div label {
    padding: 0;
  }
  .name-email div input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #0E902D;
    background-color: #F0EFED;
  }
}

.contact-main {
  background-color: #F0EFED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-main aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  margin-left: 12%;
  padding: 5rem;
}

.contact-main .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -2rem 2rem 1px #F8E71C;
          box-shadow: -2rem 2rem 1px #F8E71C;
  width: 90%;
  height: 45rem;
  margin-right: 10%;
  padding: 2rem;
  position: relative;
  top: -20rem;
  z-index: 1;
  background-color: #fff;
}

.contact-main .contact-form input {
  background-color: #fff;
}

.contact-main .contact-form textarea {
  background-color: #fff;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-main aside {
    width: 100%;
  }
  .contact-main aside div {
    margin: 0 auto;
  }
  .contact-main .contact-form {
    top: 0;
    margin-left: 16%;
  }
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  html {
    font-size: 50%;
  }
  html .wrapper {
    max-width: 700px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  html .wrapper {
    max-width: 500px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
  html .wrapper {
    max-width: 350px;
  }
}
